
/* Your CSS Code here. */
.btn{
	background: black;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.5s;
}
.container{
	width: fit-content;
}
.btn:hover{
	background: yellow;
	color: black;
	border-radius: 30px;
}